---
// AsciiBackground.astro
---
<div class="fixed inset-0 flex items-center justify-center z-[-1] overflow-hidden pointer-events-none selection:bg-transparent">
  <pre class="text-indigo-500/10 font-mono text-[0.4rem] sm:text-xs md:text-sm lg:text-base leading-tight transform scale-150 md:scale-100">
.-+.                                                                               .-.  .-...    
.+#-                                                                          -+-. .++-. .---.   
.+#-                                                                          .++-. -++.  ..-..  
.+#- ..--..         ..--...    .-.        ..      ..--..                   --. .+++..-#+-   .... 
.+##+++++##-.     -+#++++#+-.  .#+-     .-#+.   -+#++++#+-.                -++-..+++--+++.  .+++.
.+##-.   -+#-   .+#+.    .+#+  .+#+     .#+-  .+##..   -##+                 .+++..-++--+++..-+++.
.+#+.    .-#-.  -#+-......-##.  .+#-.  .+#-   .##-     .-##.             .-...-++--++#+##++++++- 
.+#-     .-#+. .-###+++++++++.   -+#.  +#+.   .#+-      .##-             .-++-.-+++######+++##+. 
.+#-     .-#+.  -#+-.            .-#+.-+#.    .##-      -##.             ...-+++++######++####+. 
.+#-     .-#+.  .+#+.             .+####-     .+#+.    .##+             .--...++#######+++####+. 
.+#-     .-#+.   .+##++--++#+      .+##+.       +##+--+##-.             .-.-. .-++######++####+. 
.-+.      .+-      .--+++--..       +##.         .--++--.                .-...  .++######+###+-  
                                   .+#-.                                         .-++######++.   
                                ..-##+                                              .-+++-..     
                               .+##+-                                                           
  </pre>
</div>
